<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{custom.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="container" style="background: white; border: 0;">

		<div class="row">
			<div class="col-md-6 text-center">
				<h2>A</h2>
				<div id="boxA" style="overflow: scroll; height: 465px;">
					

				</div>
				<div class="input-group mb-12">
					<input type="text" class="form-control" placeholder="Chat to B"
						aria-label="Chat to B" aria-describedby="basic-addon2" id="textA"
						name="chat-a">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" id="sendA" type="button">Send</button>
					</div>
				</div>

			</div>

			<div class="col-md-6 text-center">
				<h2>B</h2>
				<div id="boxB" style="overflow: scroll; height: 465px;">

				</div>

				<div class="input-group mb-12">
					<input type="text" class="form-control" placeholder="Chat to A"
						aria-label="Chat to A" aria-describedby="basic-addon2" id="textB"
						name="chat-b">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" id="sendB" type="button">Send</button>
					</div>
				</div>
			</div>

		</div>

	</div>


	<script th:src="@{jquery-3.5.1.min.js}"></script>
	<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		let socketA = new WebSocket("ws://localhost:8081/chat");
		let socketB = new WebSocket("ws://localhost:8081/chat");

		//Open Connenctions
		socketA.onopen = function(event) {
			console.log("socketA open connection");
		}
		socketB.onopen = function(event) {
			console.log("socketB open connection");
		}

		//On message events
		socketA.onmessage = function(event) {
			$("p").prepend("<b>Prepended text</b>");
		};

		socketB.onmessage = function(event) {
			console.log("Received Message to B");
		};

		//Send mesage
		function sendtoA() {
			console.log("Hi from A");
			socketA.send("Hi From A");
		}

		function sendtoB() {
			console.log("Hi from B");
			socketB.send("Hi From B");
		}
	</script>
	<script type="text/javascript">
		function messageBox1(message) {
			let message1 = document.createElement("div");
			message1.className = "container";

			let img = new Image();
			img.src = "https://www.w3schools.com/w3images/bandmember.jpg";
			img.className = "right";
			img.style.width = "100%";

			let p = document.createElement("p");
			let TextNode = document.createTextNode(message);
			p.appendChild(TextNode);

			let span = document.createElement("span");
			span.className = "time-right";
			let today = new Date();
			let time = document.createTextNode(today.getHours() + ":"
					+ today.getMinutes());
			span.appendChild(time);

			message1.append(img);
			message1.append(p);
			message1.append(span);

			return message1;

		}

		function messageBox2(message) {
			let message2 = document.createElement("div");
			message2.className = "container darker";

			let img = new Image();
			img.src = "https://www.w3schools.com/w3images/bandmember.jpg";
			img.className = "left";
			img.style.width = "100%";

			let p = document.createElement("p");
			let TextNode = document.createTextNode(message);
			p.appendChild(TextNode);

			let span = document.createElement("span");
			span.className = "time-left";
			let today = new Date();
			let time = document.createTextNode(today.getHours() + ":"
					+ today.getMinutes());
			span.appendChild(time);

			message2.append(img);
			message2.append(p);
			message2.append(span);

			return message2;

		}
	</script>

	<script type="text/javascript">
	document.getElementById("sendA").addEventListener("click", function(event) {
		let box = document.getElementById("boxA");
		let text = document.getElementById("textA");
		let modal = messageBox2(text.value);
		box.append(modal);
		box.scrollTo(0, box.scrollHeight);
		
		let box2 = document.getElementById("boxB");
		let modal2 = messageBox1(text.value);
		box2.append(modal2);
		box2.scrollTo(0, box.scrollHeight);
	});
	
	document.getElementById("sendB").addEventListener("click", function(event) {
		let box = document.getElementById("boxB");
		let text = document.getElementById("textB");
		let modal = messageBox2(text.value);
		box.append(modal);
		box.scrollTo(0, box.scrollHeight);
		
		let box2 = document.getElementById("boxA");
		let modal2 = messageBox1(text.value);
		box2.append(modal2);
		box2.scrollTo(0, box.scrollHeight);
	});
	</script>
</body>
</html>